body {
    background-color: #D6E2F0;
    font-family: 'Outfit', sans-serif;
    text-align: center;   
}

h1 {
    color: #1F3251;
    font-size: 19px;
    font-weight: 900;
    margin: 0;
}

p {
    color: grey;
    font-size: 0.6875rem;
    font-weight: 400;
    margin: 12px auto;
    width: 80%;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin: 15% auto;
    padding-bottom: 15px;
    width: 230px;
    
}

.container img {
    border-radius: 10px;
    width: 210px;
    margin: 10px 10px;
}
