body {
    background-color: #D6E2F0;
    font-family: 'Outfit', sans-serif;
    text-align: center;   
}

h1 {
    color: #1F3251;
    font-size: 1.1875em;
    font-weight: 900;
    padding: 0 0.5em 0;
}

p {
    color: grey;
    font-size: 0.8125rem;
    font-weight: 400;
    margin: 0.75rem auto;
    width: 80%;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin: 15% auto;
    padding-bottom: 0.9375em;
    width: 30%;
    
}

.container img {
    border-radius: 10px;
    width: 90%;
    margin-top: 0.8125em;
}
