body {
    background-color: #D6E2F0;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding-top: 9.438em;
}

.container {
    background: white;
    border-radius: 10px;
    height: 62.125vh;
    width: 22.222vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 10px;
    width: 90%;
    margin-top: 1.063em;
}

h1 {
    color: #1F3251;
    font-size: 1.375rem;
    font-weight: 700;
    max-width: 85%;
    margin: 20px 0 0;
}

p {
    color: grey;
    font-size: 0.938rem;
    max-width: 80%;
    margin: 1.25em 0 2.375em;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 5%;
  }
  
footer > p {
    margin: auto;
}
  

/* for the mobile view */

@media all and (max-width: 375px) {
    body {
        padding-top: 5.313em;
    }

    .container {
        height: auto;
        width: 90%;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 2%;
    }

    footer > p {
        max-width: 60%;
    }
}
